# No need to change these:
HTML_DIR=/html
CHIFRA_URL=core:8080
MONITORS_WATCH_ARGS=--fmt csv

# You may want to change these:

# How long to wait between data updates
NOMICS_SLEEP=1800 # 30 mins

WEBSITES=gitcoin
NOMICS_GITCOIN_CHAIN=mainnet

# WEBSITES=gitcoin,giveth
# NOMICS_GIVETH_CHAIN=mainnet,gnosis
# NOMICS_GITCOIN_CHAIN=mainnet

TB_SETTINGS_ETHERSCANKEY=your-key

TB_CHAINS_MAINNET_RPCPROVIDER=http://erigon.dappnode:8545
