.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-rows tr:nth-child(2n+1) td, thead {
  background-color: #fafafa;
  vertical-align: top;
}
.main-rows tr:nth-child(2n) td, thead {
  background-color: #f1f1f1;
  vertical-align: top;
}
.main-rows thead, th {
    background-color: #fafafa;
    vertical-align: top;
}
