:root {
  --color-highlight: antiquewhite;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header a.install-tb {
  font-size: 64%;
}

.main-rows tbody {
  font-family: monospace;
}

.main-rows .ant-table-content > table > tbody > tr:nth-child(2n+1) > td,
.main-rows .ant-table-content > table > tbody > tr:nth-child(2n+1) > td.ant-table-column-sort {
  background-color: #fafafa;

}
.main-rows .ant-table-content > table > tbody > tr:nth-child(2n) > td,
.main-rows .ant-table-content > table > tbody > tr:nth-child(2n) > td.ant-table-column-sort {
  background-color: #f1f1f1;
}
.main-rows.no-hover .ant-table-tbody > tr.ant-table-row:hover > td {
  background-color: transparent;
}
.main-rows .ant-table-tbody > tr.ant-table-row:hover > td {
  background-color: rgb(248, 238, 225);
}
.main-rows .ant-table-tbody > tr.ant-table-row.selected > td,
.main-rows.no-hover .ant-table-tbody > tr.ant-table-row.selected > td  {
  background-color: var(--color-highlight);
}
.main-rows td {
  vertical-align: top;
}
.main-rows thead, th {
  background-color: #fafafa;
  vertical-align: top;
}
.main-rows th .ant-table-column-title {
  white-space: nowrap;
}

.main-rows .column-suspicious {
  font-size: xx-large;
}

.with-sidebar {
  text-align: left;
}

.col-sidebar {
 background-color: white;
 padding: 8px;
}

.with-sidebar .graph-image {
  max-width: 100%;
  border: 1px solid lightgrey;
}

.sidebar {
  padding: 8px;
}

.col-table {
  overflow: hidden;
}
