.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-rows tbody {
  font-family: monospace;
}

.main-rows tr:nth-child(2n+1) + td,
.main-rows tr:nth-child(2n+1) + td.ant-table-column-sort {
  background-color: #fafafa;

}
.main-rows tr:nth-child(2n) + td,
.main-rows tr:nth-child(2n) + td.ant-table-column-sort {
  background-color: #f1f1f1;
}
.main-rows .ant-table-tbody > tr.ant-table-row.selected > td,
.main-rows.no-hover .ant-table-tbody > tr.ant-table-row.selected > td  {
  background-color: antiquewhite;
}
.main-rows td {
  vertical-align: top;
}
.main-rows thead, th {
    background-color: #fafafa;
    vertical-align: top;
}

.main-rows th .ant-table-column-title {
  white-space: nowrap;
}
